# The CODEOWNERS file is used to define individuals or teams that are
# responsible for code in a repository. For details, please refer to
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

* @ardentperf

# pg_cron
/pg-cron/ @ardentperf

# pldebugger
/pldebugger/ @ardentperf

# plprofiler
/plprofiler/ @ardentperf

# pg-uuidv7
/pg-uuidv7/ @ardentperf

# pgagent
/pgagent/ @ardentperf

# pgmemcache
/pgmemcache/ @ardentperf

# age
/age/ @ardentperf

# pgmp
/pgmp/ @ardentperf

# tds-fdw
/tds-fdw/ @ardentperf

# pg-rrule
/pg-rrule/ @ardentperf

# mysql-fdw
/mysql-fdw/ @ardentperf

# snakeoil
/snakeoil/ @ardentperf

# show-plans
/show-plans/ @ardentperf

# h3
/h3/ @ardentperf

# hypopg
/hypopg/ @ardentperf

# pg-hint-plan
/pg-hint-plan/ @ardentperf

# pg-partman
/pg-partman/ @ardentperf

# pg-qualstats
/pg-qualstats/ @ardentperf

# q3c
/q3c/ @ardentperf

# pg-squeeze
/pg-squeeze/ @ardentperf

# pg-stat-kcache
/pg-stat-kcache/ @ardentperf

# pg-stat-plans
/pg-stat-plans/ @ardentperf

# plr
/plr/ @ardentperf

# plpgsql-check
/plpgsql-check/ @ardentperf

# pgsphere
/pgsphere/ @ardentperf

# pgsentinel
/pgsentinel/ @ardentperf

# debversion
/debversion/ @ardentperf

# mobilitydb
/mobilitydb/ @ardentperf

# Project-owner approved extension stack
/asn1oid/ @ardentperf
/credcheck/ @ardentperf
/db2fce/ @ardentperf
/decoderbufs/ @ardentperf
/extra-window-functions/ @ardentperf
/hll/ @ardentperf
/ip4r/ @ardentperf
/jsquery/ @ardentperf
/numeral/ @ardentperf
/orafce/ @ardentperf
/pg-background/ @ardentperf
/pg-csv/ @ardentperf
/pg-dirtyread/ @ardentperf
/pg-permissions/ @ardentperf
/pg-rewrite/ @ardentperf
/pg-similarity/ @ardentperf
/pg-stat-log/ @ardentperf
/pg-track-settings/ @ardentperf
/pg-wait-sampling/ @ardentperf
/pgextwlist/ @ardentperf
/pgfincore/ @ardentperf
/pglogical/ @ardentperf
/pgnodemx/ @ardentperf
/pgtap/ @ardentperf
/pgtt/ @ardentperf
/plproxy/ @ardentperf
/plsh/ @ardentperf
/prefix/ @ardentperf
/preprepare/ @ardentperf
/rational/ @ardentperf
/roaringbitmap/ @ardentperf
/rum/ @ardentperf
/semver/ @ardentperf
/set-user/ @ardentperf
/table-log/ @ardentperf
/tdigest/ @ardentperf
/timestamp9/ @ardentperf
/unit/ @ardentperf
/http/ @ardentperf
/icu-ext/ @ardentperf
/ogr-fdw/ @ardentperf
/pg-gvm/ @ardentperf
/pg-pwhash/ @ardentperf
/pgpcre/ @ardentperf
/pljava/ @ardentperf
/pljs/ @ardentperf
/pllua/ @ardentperf
/pointcloud/ @ardentperf
/rdkit/ @ardentperf
/pg-repack/ @ardentperf
/powa/ @ardentperf
/pg-statviz/ @ardentperf
/mimeo/ @ardentperf
/pgq/ @ardentperf
/first-last-agg/ @ardentperf
/periods/ @ardentperf
/prioritize/ @ardentperf
/pg-rage-terminator/ @ardentperf
/plperl/ @ardentperf
/plpython3/ @ardentperf
/pltcl/ @ardentperf
